.profile {
  padding: 15%;
}
.more {
  margin-right: 20px;
}
.items-icons {
  color: whitesmoke;
  padding-left: 10px;
}
.icon-top {
  color: white;
}
.icon-top:link {
  color: white;
}
.icon-top:hover {
  color: #fed26a;
}
.icon-top:visited {
  color: red;
}
.icon-top:active {
  color: green;
}

.ba-color {
  background-color: #272e38;
}

.pic {
  position: absolute;
  right: 5%;
  top: 10%;
  height: 650px;
  width: 650px;
}
.yellow_box {
  padding: 5px 10px 5px 10px;
  display: inline-block;
  background-color: #fed26a;
  border: 1px solid white;
}
.yellow {
  color: #fed26a;
}
.second,
.third,
.forth {
  margin-top: 20px;
  margin-bottom: 20px;
}
.languages {
  padding: 5%;
  background-color: #383d44;
}
.black-box {
  display: block;
  margin: 30px 20% 8px 10px;
  padding: 10px 10px 10px 30px;
  background-color: #212832;
}
.black-box:hover {
  border: 2px solid #fed26a;
}

.projects {
  padding: 2%;
  background-color: #282e37;
}
.round-box {
  display: block;
  margin: 5% 2% 0 2%;
  border-radius: 25px;
  background: #222831;
  padding: 20px;
  width: 90%;
  height: 250px;
}
.round-box>img{
  max-width: 100%;
  max-height: 100%;
}
.col2{
  padding: 5%;

}
.round-box{
  object-fit: cover;
}
.yt{
 height: 100%; width: 100%; object-fit: contain;
}
.contact {
  padding: 2%;
  background-color: #383d44;
}

.message {
  padding: 2%;
  border-radius: 25px;
  background: #222831;
}
.first-col{
  padding: 3%;
}
@media (min-width: 890px) and (max-width: 1670px) {
  .pic {
    position: relative;
    left: 10%;
  }
}

@media (min-width: 630px) and (max-width: 890px) {
  .pic {
    height: 450px;
    width: 450px;
    position: relative;
    left: 10%;
  }
}
@media (max-width: 630px) {
  .pic {
    height: 250px;
    width: 250px;
    position: relative;
    left: 10%;
  }
}




